.page {
  background: var(--bg-page);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  width: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media (max-width: 600px) {
  .main {
    padding: 1rem 0.5rem 2rem;
  }
}
